body {
  font-family: 'Roboto Condensed', sans-serif;
}

.hero {
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #F4F4F4;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  text-shadow:
		-.4px -.4px 0 #000,
		.4px -.4px 0 #000,
		-.4px .4px 0 #000,
		.4px .4px 0 #000;
}
.hero h1 span {
  font-weight: normal;
  color: #33C3F0;
}

.divider {
  height: 10px;
  width: 100%;
  background-color: #33C3F0;
}

.services {
  padding-top: 30px;
  background: #363636;
  color: #F4F4F4;
}

.services h3 {
  font-weight: bold;
  padding-top: 35px;
}

.services p {
    padding-left: 15px;
    border-left: 2px solid #F4F4F4;
}

.image-group {
  display: inline-block;
}

.fas {
  display: inline-block;
}

i {
  color: #33C3F0;
  margin: 15px;
  padding-top: 15px;
  border-top: 2px solid #33C3F0;
}

.examples {
  padding-top: 30px;
  text-align: center;
}

.button-example {
  background: #363636;
  color: #F4F4F4;
  width: 160px;
}

.button-example:hover {
  color: #33C3F0;
}

.button-example:focus {
  background: #F4F4F4;
  color: #33C3F0;
}

.writing-samples {
  text-align: left;
  padding: 30px;
  padding-top:60px;
}

.example-title {
  text-decoration: none;
  color: #33C3F0;
}

a:hover {
  text-decoration: underline;
  color: #33C3F0;
}

.writing-samples div p {
  border: 1px solid #000;
  padding: 10px;
}

#keywords p {
  border: none;
}

#keywords {
  border: 1px solid #000;
}

.writing-samples div p span {
  font-size: 2rem;
}
